---
import Default from '@astrojs/starlight/components/Sidebar.astro';
import Sponsor from './sponsor.astro';
---

<Default {...Astro.props} />
<div class="sponsor-container">
  <Sponsor />
</div>

<style>
  .sponsor-container {
    margin-top: 1rem;
    padding: 0 1rem;
  }

  /* Hide sponsor in mobile menu */
  @media (max-width: 50em) {
    .sponsor-container {
      display: none;
    }
  }
</style>
