---
import Default from '@astrojs/starlight/components/Sidebar.astro';
import type { Props } from '@astrojs/starlight/props';
import Sponsor from './sponsor.astro';
---

<div class="sidebar-and-sponsor">
  <Default {...Astro.props} />
  <div class="sponsor-container">
    <Sponsor />
  </div>
</div>

<style>
  .sidebar-and-sponsor {
    display: flex;
    flex-direction: column;
  }

  .sponsor-container {
    margin-top: 1rem;
    padding: 0 1rem;
  }

  /* Hide sponsor in mobile menu */
  @media (max-width: 50em) {
    .sponsor-container {
      display: none;
    }
  }
</style>
